/*
 * Name: Angela Liu
 * Date: May 22, 2020
 * Section: CSE 154 AL
 *
 * CSS page linked to all of my shoot HTML pages. This page keeps a consistent style
 * and feel across the pages with spacing and colors.
 */

body {
  margin: 0px;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 2.5px;
  color: rgb(87, 86, 86);
  font-style: italic;
}

header, .photos, footer, .photos section p {
  margin: auto auto;
  text-align: center;
}

header img {
  width: 100%;
}

#back {
  margin: 100px;
  margin-bottom: 0px;
}

#design-work {
  margin: 110px;
  margin-top: 0px;
}

#design-work h1 {
  margin-bottom: 40px;
  font-family: 'Racing Sans One', cursive;
  letter-spacing: 1.5px;
  font-size: 50px;
  color: rgb(207, 207, 207);
  -webkit-text-stroke: 0.15px rgb(87, 86, 86);
  font-style: normal;
}

.desc {
  /* letter-spacing: 2.5px;
  color: rgb(87, 86, 86);
  font-style: italic; */
}

/* .parcel-design {
  float: left;
  width: 300px;
}

.parcel-design img {
  width: 100%;
  height: auto;
} */

#parcel-designs, #runit-logo, #runit-prototype, #mentor-connect-prototype, #misc-imgs, #angel-baby {
  margin: auto auto;
  text-align: center;
}

.parcel-design {
  width: 30%;
  display: inline-block;
  text-align: left;
}

.parcel-design p {
  padding-left: 40px;
}

#parcel-designs img {
  margin: 0px;
  width: 100%;
}

.caption {
  letter-spacing: 2.5px;
  color: rgb(87, 86, 86);
  font-style: normal;
  font-size: 20px;
  margin: 0px;
  margin-bottom: 20px;
}

#back img {
  width: 10%;
}

#runit-logo img {
  width: 75%;
}

#runit-prototype img {
  width: 17%;
  margin: 10px;
  border: 1px black solid;
}

#mentor-connect img {
  width: 40%;
  margin: 20px;
}

#misc-imgs img {
  width: 70%;
  margin: 20px;
}

#angel-baby {
  width: 60%;
}

footer {
  margin: auto auto;
  font-family: 'PT Sans', sans-serif;
  margin-top: 40px;
  font-size: 17px;
  letter-spacing: 2.5px;
  margin-bottom: 100px;
  display: block;
  text-align: center;
  font-style: normal;
}
